tensorboard
tensorflow-hub
tensorflow-intel
spacy
thinc
protobuf
typing-extensions
web3
librosa
platformdirs
hydra-core
matplotlib
numpy
opencv-python
PyYAML
requests
scipy
GitPython
streamlit
ultralytics
pillow
torch
torchvision
